.Tile {
  position: relative;
  top: -2px;
  right: 1px;
  width: 32px;
  height: 32px;
  background-color: #f6e1a6;
	background:-webkit-gradient(linear, 100% 100%, 0% 5%, from(#d8bd72), to(#fae1a6));
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow:0px 2px 3px #000;
  -webkit-box-shadow:0px 2px 3px #000;
  box-shadow:0px 0px 3px #a000;
  text-align: center;
  border-top-width: 1px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #f8e6b1;
  border-right-color: #f8e6b1;
  border-bottom-color: #cab06b;
  border-left-color: #f8e6b1;
  user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
}

.BoardCell.tripleWordScore {
  background-color: #F75D59;
  background:-webkit-gradient(linear, 100% 100%, 0% 5%, from(#F75D59), to(#F75D59));
}

.BoardCell.doubleWordScore {
  background-color: #FBBBB9;
  background:-webkit-gradient(linear, 100% 100%, 0% 5%, from(#FBBBB9), to(#FBBBB9));
}

.BoardCell.tripleLetterScore {
  background-color: #157DEC;
  background:-webkit-gradient(linear, 100% 100%, 0% 5%, from(#157DEC), to(#157DEC));
}

.BoardCell.doubleLetterScore {
  background-color: #A0CFEC;
  background:-webkit-gradient(linear, 100% 100%, 0% 5%, from(#A0CFEC), to(#A0CFEC));
}

.Tile.selected {
  top: -20px;
  color: green;
}

.Tile.tentative {
  color: red;
}

.TileRack {
  margin-top: 20px;
  display: inline-block;
  padding: 3px;
  background-color: gray;
}

.TileRack .Tile {
  display: inline-block;
  margin-right: 3px;
}

.TileRack .Tile.tentative {
  top: -20px;
}

.Tile .Letter {
  font-family: 'Asap';
  font-size: 26px;
}

.Tile .Score {
  font-family: 'Asap';
  font-size: 11px;
}

.BoardRow {
  display: block;
}

button {
  font-size: 20px;
}

.action-button {
  margin-left: 20px;
  width: 120px;
}

.menu-button {
  width: 300px;
}

.menu-section {
  margin-top: 30px;
}

.BoardCell {
  width: 33px;
  height: 33px;
  background-color: #266b58;
  background: -webkit-gradient(linear, 100% 100%, 0% 5%, from(#339966), to(#206955));
  display: inline-block;
  border-right: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
}
